.quiz-container {
    width: 350px;
    height: 350px;
    border: 2px solid rgb(136, 130, 130);
    padding: 10px;
    border-radius: 7px;
}

.image:hover {
    transform: scale(1.1);
}

.image {
    width: 300px;
    border-radius: 5px;


}